<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>potlucktime</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
$(document).ready(function() {
  $("ul").on("click", "button", function(e) {
    e.preventDefault();
    var $parent = $(this).parent();
    var id = $(this).parent().attr('id');
    $.ajax({
      url: '/guests/' + id,
      type: 'DELETE',
      data: 'id: ' + id,
      dataType: 'json',
      context: this,
      success: function(result) {
        $parent.remove();
      },
      error: function(req, err){ console.log('my message is: ' + err); },
    });
  });
});

function attachEvents() {
  // For 'About' button
  $('.filters button.menu').click(function (e) {
    e.preventDefault();
    window.location.hash = '#menu';
  });
};

var map = {
  // The "Homepage".
  '': function() {
    // Clear the filters object, uncheck all checkboxes, show all the students
    filters = {};
    checkboxes.prop('checked',false);

    renderStudentsPage(students);
  },

  '#menu': function() {
    renderMenuPage();
  },
};



/*------------------------------------------------*/
// Get the filters object, turn it into a string and write it into the hash.
/*------------------------------------------------*/
function createQueryHash(filters){
  // Here we check if filters isn't empty.
  if(!$.isEmptyObject(filters)){
    // Stringify the object via JSON.stringify and write it after the '#filter' keyword.

    // since filters is an object we need to stringify it
    var str = JSON.stringify(filters);
    // this is the output {"thesis-category"=["dataart"]}
    // we just want a substring of the category name
    // var temp = str.substr(19, str.length-1);
    // //and get rid of the '}'
    // var clean_url = temp.replace('}','').replace(':','');
    // console.log(str);
  window.location.hash = '#filter/' + str;
}
else{
  // If it's empty change the hash to '#' (the homepage).
  window.location.hash = '#';
}
}

    </script>
  </head>
  <body>
    <h1>Potluck Roster </h1>

    <ul class="guests">
      <% for(var i=0; i<guests.length; i++) {%>
        <li class="guest" id=<%= guests[i]._id %>>
          <h2><%= guests[i].name %></h2>
          <p class="Bringing"><%= guests[i].dish %></p>
          <p class="Type of Dish"><%= guests[i].type%></p>
          <button>delete</button>
        </li>
      <% } %>
    </ul>

    <h2>Add yourself and your meal</h2>
    <form action="/guests" method="POST">
      <input type="text" placeholder="guest name" name="name">
      <input type="text" placeholder="dish you're bringing" name="dish"> <br>
      <input type="radio" name="type" value="appetizer" checked> Appetizer<br>
      <input type="radio" name="type" value="main"> Main Course<br>
      <input type="radio" name="type" value="dessert"> Dessert<br>
      <button type="submit">Submit</button>
    </form>


    <div class="menu page">
      <div class="overlay"></div>
      <div class="container">
        <h1>Menu</h1>
        <h3>Appetizer</h3>
        <ul class="appetizers">
          <% for(var i=0; i<guests.length; i++) {%>
            <%if (guests[i].type == 'appetizer') { %>
              <li class="menu dish"><%= guests[i].dish%></p>
              <% } %>
              </li>
            <% } %>
        </ul>
        <h3>Mains</h3>
        <ul class="main">
          <% for(var i=0; i<guests.length; i++) {%>
            <%if (guests[i].type == 'main') { %>
              <li class="menu dish"><%= guests[i].dish%></p>
              <% } %>
              </li>
            <% } %>
        </ul>
        <h3>Dessert</h3>
        <ul class="dessert">
          <% for(var i=0; i<guests.length; i++) {%>
            <%if (guests[i].type == 'dessert') { %>
              <li class="menu dish"><%= guests[i].dish%></p>
              <% } %>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
